.containerHomeScreen {
  display: flex;
  flex: 1;
  height: 100vh; /* Remplit toute la hauteur de la fenêtre */
  width: 100vw; /* Remplit toute la largeur de la fenêtre */
  justify-content: center;
    align-items: center;
}
